@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body:not(#home), .modal-body{
    background-color: #4A2C2A;
}   

#home{
    height: 100vh;
    background-image: url(../img/coffee-background-with-realistic-cup-of-coffee-vector.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#home .intro{
    color: white;  
    height: 100vh;   
}

#home .intro .col-md-8{
    background-color: #8A8A8A;
    opacity: 0.4;
    right: -650px;   
}

.intro h1{
    color: white;
}

nav{
    background-color: #4A2C2A;
}

nav a:first-child img{
    width: 40px;
}

.banner{
    background-image: url(../img/asd.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    background-color: #4A2C2A;
}

h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: relative;
    left: 800px;
    top: 120px;
}

.card{
    color: white;
    background-color: #1E3930;
    border: 1px solid white;
}

.card:hover{
    box-shadow: 0px 0px 5px white;
}

h5{
    text-align: center;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    text-decoration: none;
}

#napiajanlat{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;    
}

.modal-content{
    background-color: #eadac0;
    color: white;
    font-size: 25px;
}

.blog-img {
    border-radius: 4px;
    border: 1px solid black;
}

p.szerzo {
    text-align: right;
}

.box{
    border: 10px solid black;
}


.box h2 {
    font-size: 1.5rem;
    background-color: white;
    color: #fff;
    padding: .5rem;
}

.box span.badge {
    margin: .25rem;
}

.footer{
    background-color: #1E3930;
    color: white;
    height: 00px;
}

footer li{
    list-style-type: none;
}

footer li>img{
    width: 15px;
    margin-right: 10px;
}